.nbs-bar-graph-label {
  text-transform: capitalize;
}

.nbs-bar-graph {
  padding: 3px;
}

.nbs-bar-graph .bar {
  width: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background: #BADA55;
  text-align: right;
  padding: 3px;
  margin: 5px;
  box-shadow: 2px 2px 2px #333;

  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
